<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>localhost</ServerName><LauncherName>rhs_internship_db</LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion10</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>